
<div class="modal fade bd-example-modal-lg" id="empModal" role="dialog" style="weight: 90%;">
                    <div class="modal-dialog modal-lg">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="h5 mb-0 font-weight-bold text-gray-800"><i class="fas fa-info-circle"></i>
                                   {{cameraList}}</h4>
                            </div>
                            <div style="margin-left: 10px; margin-right: 10px;" class="modal-body">
                            <div class="cam"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{Close}}</button>

                            </div>
                        </div>
                    </div>
                </div>


